.App {
  text-align: center;
  background-image: url(./component/movies/cinema-wallpaper-social-media-message-background-vector.jpg);
  -webkit-animation: backgroundScroll 20s linear infinite;
animation: backgroundScroll 20s linear infinite;

}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
        
@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -400px 0;}
}
.btnadd{
  margin: 2rem;
  padding: 0.2rem;
}
.fa-star{
  color: gold;
}
.movieList{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.card{
  margin : 20px;
}
h1{color: white;}
.rate{
  width: 50%;
}